template#template-block
	div(name="block-root")
		div(name="block-table")
		div(name="block-layout")
		div(name="block-index")

template#template-filter
	dt テーブル
	dd
		input(name="table-filter" type="text")


template#template-command
	ul
		li
			button(name="command-import") import
			button(name="command-export") export
			button(name="command-copy-define") copy define
			button(name="command-copy-sql") copy sql

template#template-table
	h3
		label テーブル名:
			input(type="text", name="table-name")

template#template-layout
	h4 Layout
	table
		thead
			tr
				th PK
				th NN
				th FK
				th 論理名
				th 物理名
				th 論理型
				th 物理型
				th CLR
				th チェック制約
				th コメント
				th 削除
		tbody
		tfoot
			tr
				td(colspan="10")
					button(name="add") add column

template#template-layout-row
	tr(name="layout-row-root")
		td
			input(type="checkbox", name="pk")
		td
			input(type="checkbox", name="nn")
		td(name="fk-root")
			input(type="hidden", name="fk")
			select(name="fk-table")
			select(name="fk-column", disabled)
		td
			input(type="text", name="name-logical")
		td
			input(type="text", name="name-physical")
		td
			select(name="data-logical")
				optgroup(label="SQLite3")
					option(value="integer") integer
					option(value="real") real
					option(value="text") text
					option(value="blob") blob
				optgroup(label="affinity")
					- // https://www.sqlite.org/datatype3.html
					option(value="datetime") datetime
					option(value="boolean") boolean
		td
			input(type="text", name="data-physical", readonly)
		td
			select(name="data-clr")
				option(value="System.String") string
				option(value="System.Int64") long
				option(value="System.Decimal") decimal
				option(value="System.Byte[]") byte[]
				option(value="System.Boolean") bool
				option(value="System.Single") float
				option(value="System.Double") double
				option(value="System.Guid") Guid
				option(value="System.DateTime") DateTime
				option(value="System.Version") Version
				option(value="System.TimeSpan") TimeSpan
		td
			input(type="text", name="check")
		td
			input(type="text", name="comment")
		td
			button(name="delete") 行削除

template#template-index
	h4 Index
	table
		thead
			tr
				th UK
				th 名前
				th カラム
		tbody
		tfoot
			tr
				td(colspan="3")
					button(name="add") add index


template#template-index-row
	tr(name="index-row-root")
		td
			input(type="checkbox", name="uk")
		td
			input(type="text", name="name")
		td
			ol(name="columns")
			button(name="add-col") add
			button(name="delete") delete

template#template-index-row-column
	li(name="index-row-column-root")
		input(type="hidden", name="c")
		select(name="column")
		button(name="delete-col") delete
