- 
    var pages = {
        help: {
            index: ['はじめに'],
            install_uninstall_data: ['インストール・アンインストール・保存データについて'],
            x86_x64: ['32/64bitについて'],
            privacy: ['プライバシー'],
            notifyarea: ['通知領域'],
            launcher: ['ランチャー'],
            launcher_toolbar: ['ツールバー'],
            launcher_command: ['コマンド'],
            launcher_extends_execute: ['指定して実行'],
            note: ['ノート'],
            others_appsettings: ['アプリケーション構成ファイル'],
            others_commandline: ['コマンドライン引数'],
            others_plugin: ['プラグイン'],
            changelogs: ['更新履歴'],
        },
        dev: {
            index: ['開発'],
            build: ['ビルド'],
            branch: ['ブランチ'],
            ci: ['CI・リリース'],
            table_main: ['テーブル:Main'],
            table_file: ['テーブル:File'],
            plugin: ['プラグイン'],
        }
    }