html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ER
        template#template-block
            div(name="block-root")
                h2(name="block-table")
                table(name="block-layout")
                table(name="block-index")

    body
        h1 ER図
        div#view
        textarea#define
            include er.md
        script(src="er.ts")
