<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		  <probing privatePath="lib"/>
		</assemblyBinding>
  </runtime>
  <appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
		
		<add key="uri-about" value="http://content-type-text.net/"/>
		<add key="mail-about" value="content.type.text.net@gmail.com"/>
		<add key="uri-development" value="https://bitbucket.org/sk_0520/pe"/>
		<add key="uri-update" value="https://bitbucket.org/sk_0520/pe/downloads/update.xml?{TIMESTAMP}"/>
		<add key="uri-changelog-release" value="https://bitbucket.org/sk_0520/pe/downloads/update-release.html?{TIMESTAMP}"/>
		<add key="uri-changelog-rc" value="https://bitbucket.org/sk_0520/pe/downloads/update-rc.html?{TIMESTAMP}"/>
		<add key="uri-forum" value="https://groups.google.com/d/forum/pe_development"/>
		<add key="uri-feedback" value="https://script.google.com/macros/s/AKfycbxsDxrhPuTI2eOm3mm4X0akOwPzh1K1ae-RJr9yHtwYJ8Z1HZwO/exec"/>
		<add key="uri-user-information" value="https://script.google.com/macros/s/AKfycbxsDxrhPuTI2eOm3mm4X0akOwPzh1K1ae-RJr9yHtwYJ8Z1HZwO/exec"/>
		
		<add key="logging-stock-count" value="1024"/>

		<add key="cache-index-body-template" value="10"/>
		<add key="cache-index-body-clipboard" value="10"/>

		<add key="backup-setting" value="30"/>
		<add key="backup-archive" value="30"/>

		<add key="fullscreen-ignore-time" value="00:00:00.5"/>

		<add key="save-index-template-time" value="00:00:30"/>
		<add key="save-index-clipboard-time" value="00:03:00"/>
		<add key="save-index-note-time" value="00:01:00"/>
		
		<add key="template-archive-size" value="4096"/>
		<add key="template-archive-time" value="10.00:00:00"/>

		<add key="note-archive-size" value="1024"/>
		<add key="note-archive-time" value="07.00:00:00"/>

		<add key="clipboard-archive-size" value="262144"/>
		<add key="clipboard-archive-time" value="03:00:00"/>

		<add key="idle-watch-time" value="00:08:00"/>
		<add key="idle-judge-time" value="01:10:00"/>

	</appSettings>
</configuration>
