root = true

[*]
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4

[*.csproj]
end_of_line = crlf
indent_style = space
indent_size = 2
insert_final_newline = true

[*.cs]
dotnet_style_qualification_for_field = true:warning
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event  = false:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_sort_system_directives_first = true

csharp_new_line_before_open_brace = types, methods, properties, local_functions, events, accessors, indexers
csharp_new_line_before_else = false
csharp_new_line_before_catch= false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_object_initializers = true
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = no_change
csharp_space_after_cast = false
csharp_space_after_comma = true
csharp_space_before_comma = false
csharp_space_after_dot = false
csharp_space_before_dot = false
csharp_space_after_semicolon_in_for_statement = true
csharp_space_before_semicolon_in_for_statement = false
csharp_space_before_open_square_brackets = false
csharp_space_around_declaration_statements = true
csharp_space_between_empty_square_brackets = false
csharp_space_between_square_brackets = false
csharp_space_after_keywords_in_control_flow_statements = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = false
csharp_preserve_single_line_statements = true
csharp_preserve_single_line_blocks = true

dotnet_naming_rule.async_methods_end_in_async.symbols  = any_async_methods
dotnet_naming_rule.async_methods_end_in_async.style    = end_in_async
dotnet_naming_rule.async_methods_end_in_async.severity = suggestion

dotnet_naming_symbols.any_async_methods.applicable_kinds           = method
dotnet_naming_symbols.any_async_methods.applicable_accessibilities = *
dotnet_naming_symbols.any_async_methods.required_modifiers         = async

dotnet_naming_style.end_in_async.required_suffix = Async
dotnet_naming_style.end_in_async.capitalization  = pascal_case

# ClrHeapAllocationAnalyzer ----------------------------------------------------
# HAA0301: Closure Allocation Source
dotnet_diagnostic.HAA0301.severity = suggestion
# HAA0601: Value type to reference type conversion causing boxing allocation
dotnet_diagnostic.HAA0601.severity = suggestion
# HAA0302: Display class allocation to capture closure
dotnet_diagnostic.HAA0302.severity = suggestion
# HAA0101: Array allocation for params parameter
dotnet_diagnostic.HAA0101.severity = suggestion
# HAA0603: Delegate allocation from a method group
dotnet_diagnostic.HAA0603.severity = suggestion
# HAA0602: Delegate on struct instance caused a boxing allocation
dotnet_diagnostic.HAA0602.severity = suggestion
# HAA0401: Possible allocation of reference type enumerator
dotnet_diagnostic.HAA0401.severity = silent
# HAA0303: Lambda or anonymous method in a generic method allocates a delegate instance
dotnet_diagnostic.HAA0303.severity = silent
# HAA0102: Non-overridden virtual method call on value type
dotnet_diagnostic.HAA0102.severity = silent
# HAA0502: Explicit new reference type allocation
dotnet_diagnostic.HAA0502.severity = none

# SonarAnalyzer ----------------------------------------------------------------
# S1172: Unused method parameters should be removed
dotnet_diagnostic.S1172.severity = silent
# S1135: Track uses of "TODO" tags
dotnet_diagnostic.S1135.severity = silent
# S4144: Methods should not have identical implementations
dotnet_diagnostic.S4144.severity = suggestion
# S1128: Unused "using" should be removed
dotnet_diagnostic.S1128.severity = silent
# S1123: "Obsolete" attributes should include explanations
dotnet_diagnostic.S1123.severity = suggestion
# S927: parameter names should match base declaration and other partial definitions
dotnet_diagnostic.S927.severity = warning
# S1075: URIs should not be hardcoded
dotnet_diagnostic.S1075.severity = suggestion

[*.sh]
end_of_line = lf

[*.sql]
indent_style = tab

[*.{ts,js}]
indent_style = tab

[*.{scss,css}]
indent_style = tab

[*.{cshtml,html}]
indent_style = tab

[*.json]
indent_style = tab

[*.{xml,config}]
indent_style = tab

[*.xaml]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2

[*.bat]
indent_style = tab
indent_size = 4
charset = shift-jis

[*.pug]
indent_style = tab
indent_size = 4

[*.{c,h}]
charset = utf-8-bom

[*.ps1]
charset = utf-8-bom
indent_style = tab
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2

