@*
~*
$*
_*
-*
[Oo]bj/
[Bb]in/
[Dd]ebug/
[Re]elease/
/Output/
/Changelog/
*.Settings
packages/
TestResults/
*.cd
ProfilingSessions/
*.suo
*.user
*.psess
*.vsp
*.cache
TemporaryGeneratedFile_*
*.pdb
Thumbs.db
.vs/
*.tss
*.lnk
node_modules/
/Source/Documents/dist
.vscode/
*/**/Properties/launchSettings.json

