extends template/_layout.pug

block BLOCK_LAYOUT_VAR
	- var VAR_LAYOUT_TITLE = pages.dev.plugin

block BLOCK_LAYOUT_CONTENT
	aside.warning
		p プラグイン仕様は固まっていないので作成しても Pe バージョンアップによる仕様追従は厳しい。
	p Pe ではプラグインによる機能拡張に対応しており、Pe の有り余る自己完結型 .NET CLR を使用して実行される。
	p プラグイン自体は Pe のプロセス内で実行されるため基本的に何でもできるので Pe の動作を不安定にすることも落とすこともできるので作成の際は注意が必要。
	p さらに Pe 自身のアップデート、ランタイム、依存ライブラリの更新にも追従する必要がある。
	aside.tips
		p .NET で自己完結型作るとなんかもうファイル数・サイズが大変なことになるのでその再利用が主な実装理由。

	section
		h2 必要ライブラリ
		p
			| プラグインを作成するには
			code Pe.Bridge
			| プロジェクトが必要になる。
		p
			| Pe.Bridge さえあれば作成そのものに問題はないが、
			code Pe.Embedded
			| のソースを流用するとある程度は楽に実装できる。


	section
		h2 プラグイン機能
		p プラグインはテーマ機能とアドオン機能に分かれる。

		section
			h3 テーマ機能
			p 見た目をさわれるんだけど、正直もう少しなんか考えた方がいい。

			h3 アドオン機能
			table
				tr
					th 機能
					th 説明
				tr
					td ランチャーボタン
					td ボタン型ランチャーの拡張
				tr
					td コマンド入力
					td コマンド型ランチャーの列挙アイテムの拡張
				tr
					td ウィジェット
					td デスクトップに常時表示するウィジェット機能
				tr
					td バックグランド
					td 後ろで何かする処理

	section
		h2 デバッグ用専用処理
		p
			| 以下環境変数を用いることでランチャーアイテムを起動完了時に自動で実行する。
			br
			| ※プラグイン専用処理ではない
		table
			thead
				tr
					th 名前
					th 値
			tbody
				tr
					td
						var DEBUG_BOOT_MODE
					td
						ul
							li
								def launcher
				tr
					td
						var DEBUG_BOOT_ITEM
					td
						def ランチャーアイテムID


