extends template/_layout.pug

block BLOCK_LAYOUT_VAR
	- var VAR_LAYOUT_TITLE = pages.dev.ci

block BLOCK_LAYOUT_CONTENT
	p リリース処理等は CI 環境にて実施する。
	p CI/CD の一括処理試験は ci-test ブランチにて実施すること(Pe リポジトリでは ci-test ブランチの読み書きを禁止している)。

	section
		h2 GitHub/GitHub Actions
		section
			h3 GitHub
			p 特に設定する必要なし
		section
			h3 GitHub Actions
			p 特に設定する必要なし
	section
		h2 GitHub での CI 試験
		p ブランチ ci-test で処理。
		p リリースタグ系が面倒なことになるので新たなリポジトリを作った方が安全。
		p 実際に Pe.Server との通信が最後に行われるが API キーが必須必須となる。 実際に試すには新たにサーバー建てて実施する必要あるため最後だけ失敗させるかコメントアウトさせておくと面倒ごとが少なくてよい。

	section
		h2 Bitbucket/AppVeyor

		aside.warning
			p Bitbucket/AppVeyor を使用した CI/CD は今後保守されず、ドキュメント・設定ファイルも破棄予定。

		section
			h3 Bitbucket
			ol
				li アカウント設定
				li アプリパスワード
				li
					strong アプリ パスワードの作成
				li
					strong 詳細
					| の label に適当な名称を設定
				li
					strong 権限
					| の リポジトリ の以下をチェックする
					ul
						li 読み込み(書き込みを設定した時点で自動チェック)
						li
							strong 書き込み
				li
					strong 作成
				li 表示されるパスワードをメモ(A)
		section
			h3 AppVeyor
			ul
				li
					| Projects ページから
					strong New project
					| を洗濯
				li 左メニューから Bitbucket を選択
				li 対象リポジトリを選択
				li
					strong Settings
				li
					strong General
					ul
						li
							strong Custom configuration .yml file name
							| に
							code appveyor-release.yml
							| を入力
				li
					strong Environment
					ul
						li
							strong Environment variables
							| に以下の設定を追加
							table
								tr
									th キー
									th 値
								tr
									td
										code PE_RELEASE_ACCOUNT
									td Bitbucket アカウント
								tr
									td
										code PE_RELEASE_PASSWORD
									td アプリパスワードで作成したパスワード(A)
								tr
									td
										code PE_API_DOWNLOAD_URL
									td
										a(href="https://developer.atlassian.com/bitbucket/api/2/reference/resource/repositories/%7Bworkspace%7D/%7Brepo_slug%7D/downloads#post")
											code /2.0/repositories/{workspace}/{repo_slug}/downloads
								tr
									td
										code PE_API_TAG_URL
									td
										a(href="https://developer.atlassian.com/bitbucket/api/2/reference/resource/repositories/%7Bworkspace%7D/%7Brepo_slug%7D/refs/tags")
											code /2.0/repositories/{workspace}/{repo_slug}/refs/tags
								tr
									td
										code PE_RELEASE_ARCHIVE_BASE_URL
									td
										code https://bitbucket.org/&lt;Bitbucketアカウント&gt;/&lt;リポジトリ&gt;/downloads/@ARCHIVENAME@
								tr
									td
										code PE_RELEASE_NOTE_BASE_URL
									td
										code https://bitbucket.org/&lt;Bitbucketアカウント&gt;/&lt;リポジトリ&gt;/downloads/@NOTENAME@







