extends template/_layout.pug

block BLOCK_LAYOUT_VAR
	- var VAR_LAYOUT_TITLE = pages.dev.table_large

block BLOCK_LAYOUT_HEAD
	include template/_dev.table.pug

block BLOCK_LAYOUT_HEAD_SCRIPT
		link(rel='stylesheet' type='text/css' href='style/dev-table.scss')

block BLOCK_LAYOUT_CONTENT
	div#filter-file.filter
	div#view-file.view
	div#command-file.command
	textarea#define-file.define
		include ../../Define/table-file.md
	textarea#sql-file.sql

block BLOCK_LAYOUT_TAIL_SCRIPT
	script(src="script/dev-table.ts" type="module")
