extends template/_layout.pug

block BLOCK_LAYOUT_VAR
	- var VAR_LAYOUT_TITLE = pages.dev.build

block BLOCK_LAYOUT_CONTENT
	p リリースビルドは CI で実施するが各ジョブは環境準備が整えば実施可能。ここでは各ジョブの説明と必要環境の説明を記載する。なお、ビルド処理以外のスクリプトについてはこの限りではない。

	section
		h2 ツール
		table
			tr
				th ツール
				th 代替環境変数
				th デフォルト
			tr
				td: a(href="https://git-scm.com/") git
				td: code BUILD_GIT_PATH
				td: code %PROGRAMFILES%\git\bin
			tr
				td: a(href="https://visualstudio.microsoft.com/ja/vs/community/") msbuild
				td: code BUILD_MSBUILD_PATH
				td: code %PROGRAMFILES%\Microsoft Visual Studio\2022\Community\Msbuild\Current\Bin
			tr
				td: a(href="https://dotnet.microsoft.com/download") dotnet
				td: code BUILD_DOTNET_PATH
				td: code %PROGRAMFILES%\dotnet
			tr
				td: a(href="https://nodejs.org/ja/") node
				td: code BUILD_NODE_PATH
				td: code %PROGRAMFILES%\nodejs
			tr
				td  npm
				td: code BUILD_NPM_PATH
				td: code %PROGRAMFILES%\nodejs
			tr
				td  npx
				td: code BUILD_NPX_PATH
				td: code %PROGRAMFILES%\nodejs
			tr
				td: a(href="https://sevenzip.osdn.jp/") 7z
				td: code BUILD_7ZIP_PATH
				td: code %PROGRAMFILES%\7-Zip
		p コマンドが存在しない場合、代替環境変数からコマンドを検索し、それでも見つからない場合はデフォルトをPATHに追加してコマンドを使用する。

	section
		h2 ビルド
		p /Build 以下のスクリプトを用いてビルドを行う
		dl
			dt: em(data-path='file-ps') make-buildtools.ps1
			dd ビルド中に実行するツールのビルド
			dt: em(data-path='file-ps') build.ps1
			dd EXE ファイル生成
			dt: em(data-path='file-ps') compress.ps1
			dd ビルド結果の圧縮
			dt: em(data-path='file-ps') create-updateinfo.ps1
			dd 更新情報生成
			dt: em(data-path='file-ps') create-release-note.ps1
			dd リリースノート生成

		section
			h3 C# ビルド種別
			table
				tr
					th 構成名
					th 役割
				tr
					td: code Debug
					td デバッグビルド
				tr
					td: code Debug-DisabledAnalyzers
					td ビルド時アナライザー無効によるデバッグビルド, 開発中の友達
				tr
					td: code Release
					td リリースビルド


