extends template/_layout.pug

block BLOCK_LAYOUT_VAR
	- var VAR_LAYOUT_TITLE = pages.dev.index

block BLOCK_LAYOUT_CONTENT
	aside.warning
		p このバージョン表は気分で更新しているのです。。。 ただまぁ原則保守されていないのです。

	section
		h2 開発環境
		table
			tr
				th バージョン
				th 開発環境
			tr
				td 0.1.0
				td SharpDevelop 4.4
			tr
				td 0.29.0
				td SharpDevelop 5.0
			tr
				td 0.33.0
				td Visual Studio Community 2013 Update 4
			tr
				td 0.68.0
				td Visual Studio Community 2015
			tr
				td 0.74.0
				td Visual Studio Community 2015 Update 1
			tr
				td 0.78.0
				td Visual Studio Community 2015 Update 2
			tr
				td 0.81.0
				td Visual Studio Community 2015 Update 3
			tr
				td 0.84.0
				td Visual Studio Community 2019(16.4.5)
			tr
				td 0.97.0
				td Visual Studio Community 2019(16.6.0)
			tr
				td 0.99.118
				td Visual Studio Community 2019(16.9.5)
			tr
				td 0.99.166
				td Visual Studio Community 2022(17.0.1)
			tr
				td 0.99.199
				td Visual Studio Community 2022(17.6.4)
			tr
				td 0.99.214
				td Visual Studio Community 2022(17.7.6)
			tr
				td 0.99.236
				td Visual Studio Community 2022(17.10.2)


