extends template/_layout.pug

block BLOCK_LAYOUT_VAR
	- var VAR_LAYOUT_TITLE = pages.dev.table_temporary

block BLOCK_LAYOUT_HEAD
	include template/_dev.table.pug

block BLOCK_LAYOUT_HEAD_SCRIPT
		link(rel='stylesheet' type='text/css' href='style/dev-table.scss')

block BLOCK_LAYOUT_CONTENT
	div#filter-main.filter
	div#view-main.view
	div#command-main.command
	textarea#define-main.define
		include ../../Define/table-temporary.md
	textarea#sql-main.sql

block BLOCK_LAYOUT_TAIL_SCRIPT
	script(src="script/dev-table.ts")
