extends template/_layout.pug

block BLOCK_LAYOUT_VAR
	- var VAR_LAYOUT_TITLE = pages.dev.branch

block BLOCK_LAYOUT_CONTENT
	p 以下のブランチを用いて開発を行う。

	dl
		dt master
		dd
			| リリース時にマージする。
			| リリース処理は本ブランチを CI からビルドする。

		dt develop
		dd
			| 開発主軸ブランチ。

		dt: strong next
		dd
			| 次期バージョン開発ブランチ。
			| こいつが主要ブランチ。
			| 基本的にここから課題ブランチブランチを生やす。

		dt
			strong #
			em xxx
		dd 課題ブランチ

		dt ci-test
		dd
			| CI 用のテスト処理実施ブランチ。
			| CI テスト用リポジトリと組み合わせて一時的に使用する。
