extends template/_layout.pug

block BLOCK_LAYOUT_VAR
	- var VAR_LAYOUT_TITLE = pages.help.others_commandline

block BLOCK_LAYOUT_CONTENT
	section
		h2 コマンドライン書式
		p コマンドライン引数として識別するパターンは以下で始まるものです。
		ul
			li
				code --OPTION
			li
				code /OPTION
		p 値を指定する場合は以下の形式をサポートします
		ul
			li
				code ␣(半角スペース)
			li
				code =
		p
			| 値に␣(半角スペース)を含む場合、
			strong "
			| で囲うことにより一つの値として扱えます
		p スイッチ形式は値を指定する必要はありません。
		section
			h3 例
			ul
				li: code --option value
				li: code --option=value
				li: code /option=value
				li: code --option "space value2"
				li: code --option="space value2"
				li: code "--option=space value2"
				li: code --switch
			aside.warning
				p
					code /option
					| 形式は将来的に整理予定なので
					code --option
					| の使用を推奨します。


	section
		h2 各値
		table
			tr
				th キー
				th 値
				th 説明
			tr
				td: code user-dir
				td o
				td 設定ディレクトリパス。
			tr
				td: code machine-dir
				td o
				td 端末ディレクトリパス。
			tr
				td: code temp-dir
				td o
				td 一時ディレクトリパス。
			tr
				td: code app-log-limit
				td o
				td
					| Pe 内部で保持するログ数を設定。
					br
					| 1 未満を指定するか数値として不正な値を指定した場合は自動設定される。
			tr
				td: code log
				td o
				td
					| ログ出力先。
					| 拡張子が存在すればファイルと判断してログ出力を行い、拡張子がなければ指定パスを親ディレクトリとして
					em(data-path="file-log") YYYY-MM-DD_hhmmss.log
					| ディレクトリが存在しない場合、出力は行われない。
					br
					| 拡張子ありの場合、その拡張子に合わせて出力形式が変動する。
					dl
						dt: code log
						dd テキストファイルとしてログ出力。
						dt: code xml
						dd XMLとしてログ出力。
			tr
				td: code with-log
				td o
				td
					code log
					| で出力するログ形式に合わせて出力する形式。
					br
					samp --log X:\logs\output.log --with-log xml
					| と指定した場合、
					em(data-path="file-log") X:\logs\output.log
					| にログを出しつつ、XML形式ログ
					em(data-path="file-xml") X:\logs\output.xml
					| も出力する。
			tr
				td: code full-trace-log
				td x
				td
					| めっちゃくちゃログを取得するか。SQL文からキー押下までありとあらゆる何かを出力する。
					br
					| 開発中に使用する想定。

			tr
				td: code force-log
				td x
				td 通常では指定ログディレクトリが存在しない場合にログを出力しないが、本スイッチによりログディレクトリを生成する。
			tr
				td: code skip-accept
				td x
				td
					| 使用許諾をスキップ。指定した場合、使用許諾は承諾されたものとする。
					br
					| 開発中に使用する想定。
			tr
				td: code beta-version
				td x
				td β版を明示的に使用する旨を Pe に通知。

	section
		h2 動作解説
		p
			| 諸々の面倒な事情によりパラメータは
			em(data-path="file-exe") &lt;Pe&gt;\Pe.exe
			| から
			em(data-path="file-exe") &lt;Pe&gt;\bin\Pe.Main.exe
			| に流されていきます。
		p
			| アップデート時は起動時のコマンドライン引数を
			em(data-path="file-exe") &lt;Pe&gt;\bin\Pe.Main.exe
			| から
			em(data-path="file-ps") &lt;Pe&gt;\etc\script\update\update-application.ps1
			| に渡して、最終的に
			em(data-path="file-exe") &lt;Pe&gt;\Pe.exe
			| に流されます。
		p 色々あるねん。


