extends template/_layout.pug

block BLOCK_LAYOUT_VAR
	- var VAR_LAYOUT_TITLE = pages.help.note

block BLOCK_LAYOUT_CONTENT
	p ちょっとしたメモ書きなんかをデスクトップに貼り付ける付箋機能です。
	p 各種入力は自動保存されます。

	section
		h2 フォーマット
		section
			h3 種別
			dl
				dt テキスト
				dd ノートの内容はプレーンテキストとして扱われます。
				dt リッチテキスト
				dd ノートの内容は RTF として扱われます。
		section
			h3 位置
			dl
				dt 絶対座標
				dd 位置・サイズが絶対値として扱われます。通常のウィンドウみたいなイメージです。
				dt 相対座標
				dd 位置・サイズが相対値として扱われます。ディスプレイのサイズ変更時にもある程度レイアウトを維持したままになります。
		section
			h3 前景
			p 基本前景色を指定します。
		section
			h3 背景
			p 基本背景色を指定します。

	section
		h2 状態
		section
			h3 固定
			p ノート操作 UI 以外からの操作を受け付けないようにします。
		section
			h3 最小化
			p 最小化状態を切り替えます。
		section
			h3 最前面
			p 最前面状態を切り替えます。
		section
			h3 右端で折り返す
			p 自動折り返し状態を切り替えます。
			p
				| 種別が
				dfn テキスト
				| の時のみ有効です。
		section
			h3 自動的に隠す方法
			p 一定時間経過時にノートの内容を隠す方法を指定します。
		section
			h3 タイトルバー位置
			p タイトルバー位置を指定します。

	section
		h2 添付ファイル
		section
			p 添付ファイルはノートに対してファイルをD&Dすることで有効になります。
			p 添付ファイルは Windows のショートカットのような扱いで物理ファイルへのリンク扱いとなります(内部的には取り込みがあるのですが実装がつらいので永久に後回し)。
			p 表示されているアイテムをクリックすると対象のファイルを開き、削除等はコンテキストメニュー(右クリック)で処理します。
		section
			h3 開く
			p 対象ファイルを開きます。
		section
			h3 プロパティ
			p 対象ファイルのプロパティを表示します。
		section
			h3 削除
			p サブメニューを選択することで対象ファイルに対する添付を解除します。

	section
		h2 操作
		section
			h3 コピー
			p ノートの内容をクリップボードにコピーします。

			h3 検索
			p 検索処理を行います。
			aside.bugs
				p 前検索は諸々の都合でできません。

			h3 閉じる
			p ノートを非表示にします。

			h3 削除
			p ノートを削除します。
			p 削除したノートは復旧できません。




