extends template/_layout.pug

block BLOCK_LAYOUT_VAR
	- var VAR_LAYOUT_TITLE = pages.help.others_plugin

block BLOCK_LAYOUT_CONTENT
	aside.warning
		p プラグインは Pe の実行権限で実行されます。
		p インストールされたプラグインが悪意ある処理を実行した場合に Pe 側で防御する術はありません。

	section
		h2 プラグイン機能
		p プラグイン機能により Pe の機能拡張を行えます。
			| 実装については
			a(href="dev.plugin.pug") 開発用資料
			| を確認してください

	section
		h2 配布サイト
		p 以下がプラグイン配布サイトの総本山です。
		p
			a(href="https://peserver.site/plugin") Pe.Server

	section
		h2 インストール方法

		section
			h3 ローカルインストール
			p
				| 設定 → プラグイン から
				dfn ローカル
				| を選択してアーカイブを選択することで次回起動時に有効になります。

		section
			h3 Webインストール
			p
				| 設定 → プラグイン から
				dfn Web
				| を選択してプラグインIDか更新チェックURLを指定することで次回起動時に有効になります。

		section
			h3 手動インストール
			p プラグインを指定ディレクトリに配置することにより(多分)活性化します。
			p 基本の配置先は
				em(data-path="dir") %LOCALAPPDATA%\Pe\plugin\modules
				| で、
				em(data-path="dir") プラグインID or プラグインディレクトリ名
				| として配置します。
			p PLUGIN.dll というプラグインがあれば、
				ol
					li: em(data-path="file-lib") %LOCALAPPDATA%\Pe\plugin\modules\プラグインID\PLUGIN.dll
					li: em(data-path="file-lib") %LOCALAPPDATA%\Pe\plugin\modules\PLUGIN\PLUGIN.dll
				| として配置します。
			p プラグインディレクトリ名による配置は問題を起こす可能性があるのでプラグインIDによる配置を推奨します。

	section
		h2 参考実装
		p
			| プラグインの参考実装成果物は
			a(href="https://github.com/sk-0520/Pe/releases/latest") Pe 配布場所
			| に最新版を配置しています。
		aside.tips
			p 配置されている参考実装プラグインは Pe のリリース時に最新化されます。
		aside.warning
			p 参考実装プラグインは Pe のリリース(CD/CD処理)に合わせてリリースされるため不具合等があったとしても随時/緊急リリースは行われません。
			p とりあえずこうすればこう動くといった実装のため下位互換や効率等は度外視したものになります。
