extends template/_layout.pug

block BLOCK_LAYOUT_VAR
	- var VAR_LAYOUT_TITLE = pages.help.notifyarea

block BLOCK_LAYOUT_CONTENT
	figure
		img(src="./image/notifyarea.png", alt="通知領域")
		figcaption 通知領域
	p 通知領域の Pe アイコンを右クリックするとコンテキストメニューが表示されます。
	p 各種機能の展開や設定を行う際に使用します。 そのため通知領域に Pe アイコンを常時表示するように設定して頂くと操作が行いやすくなります。

	aside.bugs
		p 右クリックが死ぬのです。再現できなくてつらい。
		p
			a(href="https://github.com/sk-0520/Pe/issues/530") 通知領域右クリックが死んでるときがある。


