extends template/_layout.pug

block BLOCK_LAYOUT_VAR
	- var VAR_LAYOUT_TITLE = pages.help.changelogs

block BLOCK_LAYOUT_CONTENT
	select#list
	div#changelogs

block BLOCK_LAYOUT_STYLE
	link(rel='stylesheet' type='text/css' href='style/changelog.scss')

block BLOCK_LAYOUT_TAIL_SCRIPT
	script(src="script/changelogs.ts" type="module")
