extends template/_layout.pug

block BLOCK_LAYOUT_VAR
	- var VAR_LAYOUT_TITLE = pages.help.search

block BLOCK_LAYOUT_CONTENT
	section
		form#search-input
			dl
				dt 文言
				dd
					input#search-input-query(required )
				dt オプション
				dd
					ul.inline
						li: label
							input#search-input-case-sensitive(type="checkbox")
							| 大文字と小文字を区別する
						li: label
							input#search-input-regex(type="checkbox")
							| 正規表現
						li: label
							input#search-input-develop(type="checkbox")
							| 開発ドキュメントを対象とする
				dt 検索
				dd
					button 検索

	#search-result

	template#template-errors
		hr
		section(name="error")

	template#template-result
		hr
		section
			ul(name="list")

	template#template-result-file
		li
			span(name="file")
			ul(name="content")

block BLOCK_LAYOUT_TAIL_SCRIPT
	script(src="script/search.ts" type="module")


