extends template/_layout.pug

block BLOCK_LAYOUT_VAR
	- var VAR_LAYOUT_TITLE = pages.help.others_proxy

block BLOCK_LAYOUT_CONTENT
	section
		p
			| プロキシ設定を行うには環境変数
			var HTTP_PROXY
			| を使用するか設定(基本→プロキシ設定)が必要です。
