extends template/_layout.pug

block BLOCK_LAYOUT_VAR
	- var VAR_LAYOUT_TITLE = pages.help.launcher_command

block BLOCK_LAYOUT_CONTENT
	p 登録されているランチャーアイテムをキー入力から起動します。
	p 通知領域のコンテキストメニューからも呼び出せますがキー入力から呼び出すのが設計思想です。
	p 入力された文字列からどうこうするのではなくリスト上で選択されているアイテムを起動します。
	ul
		li
			| 先頭が
			kbd /
			| で始まる場合、以降の文字列を正規表現として扱います
		li
			| 非正規表現による検索条件の場合に
			kbd *
			| ,
			kbd ?
			| が入力されている場合にはワイルドカード(制限事項: 行頭・末尾に一致)として解釈されます
		li 先頭文字列(正規表現の場合に Pe の解釈としての先頭文字列)が大文字アルファベットの場合に大文字・小文字を区別する検索となります

	section
		h2 ランチャーアイテム
		p アイテム選択状態で以下の入力により起動します。
		table
			tr
				th 入力
				th 起動内容
			tr
				td: kbd Enter
				td 通常起動
			tr
				td: kbd Shift + Enter
				td 指定して実行

	section
		h2 本体コマンド
		p
			| 入力コマンドの先頭が
			kbd .
			| のものは Pe 専用コマンドの意味を持ちます。
		p 本体コマンド以外の登録済みコマンドとの区別はアイコン・説明書きで判断してください。
		aside.tips
			p 内部的な制限により本体コマンドは正規表現を使用できません。

