extends template/_layout.pug

block BLOCK_LAYOUT_VAR
	- var VAR_LAYOUT_TITLE = 'ツールバー'

block BLOCK_LAYOUT_CONTENT
	p ツールバーによるボタン型のランチャーが Pe の主機能となります。

	section
		h2 アイテム登録
		p ツールバーにファイルをD&amp;Dすると該当ファイルを登録できます。
		p 登録ファイルがショートカットファイルの場合、リンク先を登録するかショートカットファイルそのものを登録するか選択が必要になります。

	section
		h2 配置
		p  ツールバーはディスプレイ毎に一つ配置されて、ディスプレイ内で自由に配置することができます

	section
		h2 自動的に隠す
		p ツールバーにマウスカーソルが乗っていない場合、表示時間設定後にツールバーをデスクトップから隠します。
		p  隠れた状態では元のツールバーの位置に細いバーが表示されます。 バー上にマウスカーソルを移動することで元のツールバーを表示します。
		section
			h3 強制的に隠れた状態へ遷移させる
			p  自動的に隠すが有効な場合に下記操作で表示時間設定を満たすことなく強制的に隠すことができます。
			ul
				li ツールバー上でマウス左ダブルクリック。
				li キーボード押下設定によるツールバー非表示の登録

	section
		h2 コンテキストメニュー
		p
			| ツールバー上で右クリックか
			kbd アプリケーションメニュー
			| でコンテキストメニューが表示されます。
		p ランチャーアイテム上でメニューを表示すると該当ランチャーアイテムのメニュー項目とグループ選択項目が表示されます。
		p ランチャーアイテム以外でメニューを表示するとグループ選択項目が表示されます。

	section
		h2 収まりきらないアイテム
		p たくさんのランチャーアイテムを登録している場合マウスホイールによりアイテムをスクロールして表示します。
		aside.bugs
			p マウスホイールのない端末は未考慮。
