extends template/_layout.pug

block BLOCK_LAYOUT_VAR
	- var VAR_LAYOUT_TITLE = 'アプリケーション構成ファイル'

block BLOCK_LAYOUT_CONTENT
	p Pe が起動する際にアプリケーション構成ファイルを読み取り、各種固定値を設定します。アプリケーション構成ファイルに対するエラー、不正な設定値は Pe の実行に悪影響を与えます。
	p
		| 配置場所は
		em(data-path="dir") &lt;Pe&gt;\etc\
		| で、以下の順序で読み込みを行います。

	table
		tr
			th 順序
			th ファイル名
			th 備考
		tr
			td 1
			td: em(data-path="file-json") appsettings.json
			td: strong 必須ファイルです
		tr
			td(rowspan="2") 2
			td: em(data-path="file-json") appsettings.debug.json
			td
				| デバッグで(
				code #define DEBUG
				|) 読み込まれ、それ以外では無視される
				br
				| 開発時に
				em(data-path="file-json") 
					strong @
					| appsettings.debug.json
				| の 
				strong @ 
				| を外して使用する想定
		tr
			td: em(data-path="file-json") appsettings.beta.json
			td
				| β版で(
				code #define BETA
				|) 読み込まれ、それ以外では無視される
		tr
			td 3
			td: em(data-path="file-json") appsettings.user.json
			td ユーザー独自設定
		tr
			td 4
			td: em(data-path="file-json") appsettings.&lt;X-XX-XXX&gt;.json
			td
				| 指定バージョン限定設定
				br
				| 基本的にユーザー使用は想定せず

	p あとから読み込まれたデータが優先されます。
