extends template/_layout.pug

block BLOCK_LAYOUT_VAR
	- var VAR_LAYOUT_TITLE = pages.help.index

block BLOCK_LAYOUT_CONTENT
	aside.bugs
		p 本ドキュメントは未完成です。

	section
		h2 概要
		p
			| 本ソフトウェア(以後 Pe)はランチャーが主機能のデスクトップユーティリティです。
			| Pe は WTFPL 2 でライセンスされています。

		h2 必要環境
		ul
			li
				a(href="https://dotnet.microsoft.com/download/dotnet/6.0") .NET 6
				| の動作要件を満たしたハードウェアスペック(環境自体は同梱)
			li Windows 10
				ul
					li x86 版は 32/64 bit で動作可能
					li x64 版は 64 bit のみで動作可能
		aside.ref
			p
				| 詳細は
				a(href="./help.install-uninstall-data.pug")= pages.help.install_uninstall_data
				| を参照のこと

		h2 連絡先
		ul
			li: a(href="https://github.com/sk-0520/Pe") プロジェクトサイト
			li: a(href="https://groups.google.com/forum/#!forum/pe_development") フォーラム
			li: a(href="https://content-type-text.net") Webサイト


