<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="backup-setting" value="3" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="uri-update" value="http://localhost/update.xml?{TIMESTAMP}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="uri-changelog-release" value="http://localhost/update-release.html?{TIMESTAMP}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="uri-changelog-rc" value="http://localhost/update-rc.html?{TIMESTAMP}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="cache-index-body-template" value="3" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="cache-index-body-clipboard" value="3" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<!--<add key="logging-stock-count" value="10" xdt:Transform="Replace" xdt:Locator="Match(key)" />-->
		<!--<add key="uri-feedback" value="https://script.google.com/macros/s/AKfycbxsDxrhPuTI2eOm3mm4X0akOwPzh1K1ae-RJr9yHtwYJ8Z1HZwO/dev" xdt:Transform="Replace" xdt:Locator="Match(key)"  />-->
		<add key="template-archive-size" value="99999999" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="template-archive-time" value="00.00:00:00" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="note-archive-size" value="99999999" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="note-archive-time" value="00.00:00:00" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="clipboard-archive-size" value="99999999" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="clipboard-archive-time" value="00.00:00:00" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	</appSettings>
</configuration>