<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.2" targetFramework="net46" />
  <package id="ContentTypeTextNet.PInvoke" version="1.0.0.16" targetFramework="net46" />
  <package id="ContentTypeTextNet.SharedLibrary" version="1.0.0.35" targetFramework="net46" />
  <package id="Extended.Wpf.Toolkit" version="2.7" targetFramework="net46" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.5" targetFramework="net451" />
  <package id="Mono.TextTemplating" version="1.0.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net46" />
  <package id="SlowCheetah" version="2.5.15" targetFramework="net451" />
</packages>