<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.3" targetFramework="net46" />
  <package id="ContentTypeTextNet.PInvoke" version="1.0.0.22" targetFramework="net46" />
  <package id="ContentTypeTextNet.SharedLibrary" version="1.0.0.60" targetFramework="net46" />
  <package id="Extended.Wpf.Toolkit" version="2.9" targetFramework="net46" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net46" />
  <package id="Mono.TextTemplating" version="1.0.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="SlowCheetah" version="2.5.15" targetFramework="net451" />
</packages>