<?xml version="1.0" encoding="utf-8" ?>
<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true"
	internalLogLevel="Info"
	internalLogToTrace="true"
>
	<targets>
		<!--
		logPath: logdir/timestamp.log
		xmlPath: logdir/timestamp.xml
		-->
		<target
			xsi:type="File"
			name="log"
			fileName="${var:logPath}"
			layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${level:uppercase=true:padding=-5}|${pad:padding=6:inner=${sequenceid}}|&lt;${threadid}&gt;| ${message} ${exception:format=tostring} | ${callsite}(${callsite-linenumber}) | ${logger:shortName=true} | ${stacktrace:format=DetailedFlat:topFrames=3}"
			header="[START] ${date:format=yyyy-MM-dd HH\:mm\:ss.fff}"
			footer="[END]"
			keepFileOpen="True"
		/>
		<target
			xsi:type="File"
			name="xml"
			fileName="${var:xmlPath}"
			header="&lt;logs&gt;"
			footer="&lt;/logs&gt;"
			keepFileOpen="True"
		>
			<layout xsi:type="XmlLayout" includeAllProperties="true" elementName='log'>
				<element name="timestamp" value="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
				<element name="level" value="${level}" />
				<element name="sequence" value="${sequenceid}" />
				<element name="threadid" value="${threadid}" />
				<element name="message" value="${message}" />
				<element name="exception" value="${exception:format=tostring}" />
				<element name="callsite" value="${callsite}" />
				<element name="linenumber" value="${callsite-linenumber}" />
				<element name="logger" value="${logger}" />
				<element name="stacktrace" value="${stacktrace:format=Raw:topFrames=3}" />
			</layout>
		</target>

		<target
			xsi:type="Trace"
			name="dev"
			layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}[${level:uppercase=true:padding=-5}]&lt;${threadid}&gt; ${message} ${exception:format=tostring} | ${callsite}(${callsite-linenumber})"
		/>
	</targets>

	<rules>
		<logger ruleName="programmable" name="ContentTypeTextNet.Pe.Main.Models.KeyAction.KeyActionChecker" minlevel="Trace" maxlevel="Debug" final="true" />
		<logger ruleName="programmable" name="ContentTypeTextNet.Pe.Main.Models.KeyAction.KeyActionAssistant" minlevel="Trace" maxlevel="Debug" final="true" />
		<logger ruleName="programmable" name="ContentTypeTextNet.Pe.Main.Models.Logic.KeyboradHooker" minlevel="Trace" maxlevel="Debug" final="true" />
		<logger ruleName="programmable" name="ContentTypeTextNet.Pe.Main.Models.Applications.ApplicationDatabaseAccessor" minlevel="Trace" maxlevel="Debug" final="true" />

		<logger ruleName="programmable" name="*" minlevel="Trace"  />
		<logger name="*" minlevel="Trace" writeTo="dev" />
	</rules>
</nlog>
