<?xml version="1.0" encoding="utf-8" ?>
<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true"
	internalLogLevel="Info"
	internalLogToTrace="true"
>
	<targets>
		<target
			xsi:type="File"
			name="logfile"
			fileName="${var:logfile}"
			layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${level:uppercase=true}|${message} ${exception:format=tostring}|${logger}|${all-event-properties}"
			header="[START]"
			footer="[END]"
		/>
		<target
			xsi:type="Trace"
			name="dev"
			layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${level:uppercase=true:padding=-5}]&lt;${threadid}&gt; ${message} ${exception:format=tostring} | ${callsite}(${callsite-linenumber})"
		/>
		<target xsi:type="Null" name="/dev/null" />
	</targets>

	<rules>
		<logger name="ContentTypeTextNet.Pe.Main.Models.KeyAction.KeyActionChecker" minlevel="Trace" maxlevel="Debug" final="true"/>
		<logger name="ContentTypeTextNet.Pe.Main.Models.KeyAction.KeyActionAssistant" minlevel="Trace" maxlevel="Debug" final="true"/>
		<logger name="ContentTypeTextNet.Pe.Main.Models.Logic.KeyboradHooker" minlevel="Trace" maxlevel="Debug" final="true"/>
		<logger name="ContentTypeTextNet.Pe.Main.Models.Applications.ApplicationDatabaseAccessor" minlevel="Trace" maxlevel="Debug" final="true"/>

		<logger name="*" minlevel="Trace" writeTo="dev,logfile" />
	</rules>
</nlog>
