extends template/_layout.pug

block BLOCK_LAYOUT_VAR
	- var VAR_LAYOUT_TITLE = '更新履歴'

block BLOCK_LAYOUT_CONTENT
	p こうしんりれきなー

block BLOCK_LAYOUT_TAIL_SCRIPT
	script(src="script/changelogs.ts")
