extends template/_layout.pug

block BLOCK_LAYOUT_VAR
	- var VAR_LAYOUT_TITLE = 'ビルド'

block BLOCK_LAYOUT_CONTENT
	p リリースビルドは CI で実施するが各ジョブは環境準備が整えば実施可能。ここでは各ジョブの説明と必要環境の説明を記載する。なお、ビルド処理以外のスクリプトについてはこの限りではない。

	section
		h2 ツール
		table
			tr
				th ツール
				th 代替環境変数
				th デフォルト
			tr
				td: a(href="https://git-scm.com/") git
				td: code BUILD_GIT_PATH
				td: code %PROGRAMFILES%\git\bin
			tr
				td: a(href="https://visualstudio.microsoft.com/ja/vs/community/") msbuild
				td: code BUILD_MSBUILD_PATH
				td: code %PROGRAMFILES(x86)%\Microsoft Visual Studio\2019\Community\MSBuild\Current\Bin
			tr
				td: a(href="https://dotnet.microsoft.com/download") dotnet
				td: code BUILD_DOTNET_PATH
				td: code %PROGRAMFILES(x86)%\dotnet
			tr
				td: a(href="https://nodejs.org/ja/") node
				td: code BUILD_NODE_PATH
				td: code %PROGRAMFILES%\nodejs
			tr
				td  npm
				td: code BUILD_NPM_PATH
				td: code %PROGRAMFILES%\nodejs
			tr
				td: a(href="https://sevenzip.osdn.jp/") 7z
				td: code BUILD_7ZIP_PATH
				td: code %PROGRAMFILES%\7-Zip
		p コマンドが存在しない場合、代替環境変数からコマンドを検索し、それでも見つからない場合はデフォルトをPATHに追加してコマンドを使用する。

	section
		h2 ビルド
		p /Build 以下のスクリプトを用いてビルドを行う
		dl
			dt: strong build.ps1
			dd EXE ファイル生成
			dt: strong create-document.ps1
			dd ヘルプドキュメント生成
			dt: strong compress.ps1
			dd ビルド結果の圧縮
			dt: strong create-updateinfo.ps1
			dd 更新情報生成
			dt: strong create-release-note.ps1
			dd リリースノート生成
			dt: strong deploy.ps1
			dd 成果物のデプロイ

