extends template/_layout.pug

block BLOCK_LAYOUT_VAR
	- var VAR_LAYOUT_TITLE = '開発'

block BLOCK_LAYOUT_CONTENT
	section
		h2 開発環境
		table
			tr
				th 0.1.0
				th SharpDevelop 4.4
			tr
				td 0.29.0
				td SharpDevelop 5.0
			tr
				td 0.33.0
				td Visual Studio Community 2013 Update 4
			tr
				td 0.68.0
				td Visual Studio Community 2015
			tr
				td 0.74.0
				td Visual Studio Community 2015 Update 1
			tr
				td 0.78.0
				td Visual Studio Community 2015 Update 2
			tr
				td 0.81.0
				td Visual Studio Community 2015 Update 3
			tr
				td 0.84.0
				td Visual Studio Community 2019(16.4.5)


