extends template/_layout.pug

block BLOCK_LAYOUT_VAR
	- var VAR_LAYOUT_TITLE = 'テーブル図'

block BLOCK_LAYOUT_HEAD
	include template/_dev-table.pug

block BLOCK_LAYOUT_CONTENT
	section
		h2 Main
		div#view-main
		div#command-main
		textarea#define-main
			include ../define/table-main.md
		textarea#sql-main

block BLOCK_LAYOUT_TAIL_SCRIPT
	script(src="script/dev-table.ts")
