extends template/_layout.pug

block BLOCK_LAYOUT_VAR
	- var VAR_LAYOUT_TITLE = 'ランチャー'

block BLOCK_LAYOUT_CONTENT
	p Pe のランチャー機能は登録されたランチャーアイテムのコマンドを起動する仕組みになっています。
	p そのためまずはランチャーアイテムの登録が必要になります。
