extends template/_layout.pug

block BLOCK_LAYOUT_VAR
	- var VAR_LAYOUT_TITLE = '過去バージョン'

block BLOCK_LAYOUT_CONTENT
	p 過去のバージョンに以下に配置しています。
	ul
		li
			a(href="https://drive.google.com/open?id=1hVbOt1eAzkVM2lrTElVfo9DDD3x1BRm7") 0.01.000 - 0.83.000
		li
			a(href="https://drive.google.com/open?id=1R3GzVTm7xM3HVD0KagT39OQW_wHMBqMe") 0.84.000 - 最新版

	aside.warning
		p 過去バージョンはドライブの容量、セキュリティの都合などにより予告なく削除する可能性があります。

	p 過去バージョンを実行すると設定などが新旧混在し、現在バージョン・過去バージョンとも実行できなくなる可能性があるので環境やデータを分離して実行してください。
