extends template/_layout.pug

block BLOCK_LAYOUT_VAR
	- var VAR_LAYOUT_TITLE = 'はじめに'

block BLOCK_LAYOUT_CONTENT
	p: strong 本ドキュメントは未完成です。

	section
		h2 概要
		p
			| 本ソフトウェア(以後 Pe)はランチャーが主機能のデスクトップユーティリティです。
			| Pe は WTFPL 2 でライセンスされています。

		h2 必要環境
		ul
			li
				a(href="https://dotnet.microsoft.com/download/dotnet-core/3.1") .NET Core 3.1
				| の動作要件を満たしたハードウェアスペック(環境自体は同梱)
			li
				a(href="https://support.microsoft.com/ja-jp/help/2977003/the-latest-supported-visual-c-downloads") Microsoft Visual C++ 再頒布可能パッケージ
				| の「Visual Studio 2015、2017 および 2019」
			li Windows 10
				ul
					li x86 版は 32/64 bit で動作可能
					li x64 版は 64 bit のみで動作可能

		h2 連絡先
		ul
			li: a(href="https://bitbucket.org/sk_0520/pe") プロジェクトサイト
			li: a(href="https://groups.google.com/forum/#!forum/pe_development") フォーラム
			li: a(href="http://content-type-text.net/") Webサイト


