extends template/_layout.pug

block BLOCK_LAYOUT_VAR
	- var VAR_LAYOUT_TITLE = 'はじめに'

block BLOCK_LAYOUT_CONTENT
	p: strong 本ドキュメントは未完成です。

	p
		| 本ソフトウェア(以後 Pe)はランチャーが主機能のデスクトップユーティリティです。
		| Pe は WTFPL 2 でライセンスされています。



