extends template/_layout.pug

block BLOCK_LAYOUT_VAR
	- var VAR_LAYOUT_TITLE = 'プライバシー'

block BLOCK_LAYOUT_CONTENT
	section
		h2 ユーザー情報送信
			p  送信を許可している場合、報告用情報の長い情報のデータにユーザー識別子を付与して収集します。

	section
		h2 ユーザー識別子
		p 収集データの送信ユーザーを識別するために使用します。
		p 収集データの重複を省くためにユーザー識別子でグルーピングするために使用しています。
