$commonBackgroundColor: #ffffff;
$commonForegroundColor: #333333;
$menuWidth: 25%;

body {
	font-family: 'Verdana','Skia-Regular_Condensed','Tahoma','Meiryo UI','メイリオ', Meiryo,'Osaka',YuGothic,'Yu Gothic',sans-serif;
	font-size: 12.5pt;
	line-height: 1.3em;
	color: $commonForegroundColor;
	background-color: $commonBackgroundColor;
}

h1 {
	padding: 6px 1em;
	border-bottom: 3px double #888;
	line-height: 1em;
}

h2 {
	padding: 0.2ex 0.5ex;
	background: #ccc;
	line-height: 1em;
}

h3 {
	padding: 0.2ex 0.5ex;
	border-left: 1ex solid #fff5bc;
	border-bottom: 3px double #fff5bc;
	line-height: 1em;
}

section {
	margin: 0.5ex 1em;
}

#menu, #content {
	position: fixed;
	top: 55pt;
	bottom: 0;
	overflow: auto;
}

#menu {
	left: 0;
	width: $menuWidth;
	padding: 0.5em;
	margin: 0 1ex 0 0;

	ul {
		list-style: outside;
		padding: 0;
		margin: 0;

		li {
			padding-left: 1ch;

			line-height: 1.5em;
			margin-bottom: 2px;
			background: #fff;
			color: #000;
			list-style: none;

			a {
				display: block;
				text-decoration: none;

				&:link, &:visited {
					color: blue;
				}

				&:hover {
					color: red;
				}

				&.current {
					font-weight: bold;
					background: #ffdddd;
					border-radius: 0.2em;
				}
			}
		}
	}
}

#content {
	left: $menuWidth;
	right: 0;

	#container {
		padding-left: 1em;
		padding-right: 3em;
		padding-bottom: 4em;
	}
}

#footer {
	color: lime;
}

dl.ui-help {
	margin: 1em;
}

dl.ui-help dt {
	border-bottom: 2px dotted #7f9ed7;
	padding-left: 0.5em;
}

dl.ui-help dd {
	margin-bottom: 1em;
}
