<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="lib"/>
		</assemblyBinding>
	</runtime>
	<appSettings file="Pe.user.config">

		<add key="launcher-toolbar-main-database-lazy-writer-wait-time" value="00:00:05" />
		<add key="note-main-database-lazy-writer-wait-time" value="00:00:05" />

	</appSettings>
</configuration>
