
table {
	border: 3px double #707000;
	empty-cells: unset;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	table-layout: fixed;
}

td {
	border: 1px solid #707030;
	padding: 0.8ex;
}

th {
	background: #707030;
	color: azure;
	border: 1px solid azure;
	padding: inherit 0.8em;
}

img {
	vertical-align: middle;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 2px 1px;
	padding: 1px;
	margin: 1px 1px 2px 2px;
}


aside.tips, aside.warning, aside.bugs, aside.ref {
	padding: 0.5em;
	margin: 1ex;
	border-radius: 0 0 0.5em 0.5em;
	border-top: 3px double;
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
}

aside.tips aside.title, aside.warning em.title, aside.bug em.title, aside.ref em.title {
		display: block;
		font-style: normal;
		margin-bottom: 0.7ex;
	}

	aside.tips {
		border-color: #ff8;
		background: #ffe;
	}

	aside.warning {
		border-color: #f8f;
		background: #fef;
	}

	aside.bug {
		border-color: #f88;
		background: #fee;
	}

	aside.ref {
		border-color: #88f;
		background: #eef;
	}

	code, samp, strong.value, em.ui, dfn, em.file, em.dir {
		font-family: Consolas, monospace;
		padding: 2px 4px;
		margin: 2px 4px;
		display: inline-block;
	}

		em.dir:before, em.file:before {
			display: inline-block;
			vertical-align: middle;
		}

	code {
		border: 1px solid #888;
		background: #eef;
	}

	samp {
		border: 1px solid #8bb581;
		background: #c8f7c4;
	}

	dfn {
		border: 1px solid #707030;
		background: #fffbcd;
	}

	strong.value {
		border: 1px solid #f80;
		background: #fee;
		border-radius: 2px;
	}

	em.ui {
		border: 1px outset #888;
		background: #eee;
		font-style: normal;
		border-radius: 2px;
	}

	em.dir, em.file {
		border: 1px dotted #762020;
		font-style: normal;
	}


	/* https://dl.dropboxusercontent.com/u/921159/Keyboard/page.html */
	kbd {
		font-family: Consolas, monospace;
		min-width: 2ex;
		padding: 0 0.5em;
		margin: 0.3em 0.5ex;
		background: #efeff2;
		border-radius: 4px;
		border-top: 1px solid #F5F5F5;
		box-shadow: 0 0 25px #E8E8E8 inset, 0 1px 0 #C3C3C3, 0 2px 0 #C9C9C9, 0 2px 3px #333333;
		color: #555;
		text-shadow: 0 1px 0 #F5F5F5;
		text-align: center;
		display: inline-block;
	}
