$commonBackgroundColor: #ffffff;
$commonForegroundColor: #333333;

html {
    font-size: 12.5pt;
}

body {
    font-family: 'Verdana','Skia-Regular_Condensed','Tahoma','Meiryo UI','メイリオ', Meiryo,'Osaka',YuGothic,'Yu Gothic',sans-serif;
    line-height: 1.3em;
    color: $commonForegroundColor;
    background-color: $commonBackgroundColor;
}

html, body {
    height: 100%;
    min-height: 100%;
}


h1 {
    font-size: 140%;
}
h2 {
    font-size: 120%;
}
h3 {
    font-size: 110%;
}
h3 {
    font-size: 105%;
}


