select
	LauncherToolbars.LauncherToolbarId,
	LauncherToolbars.ScreenName,
	LauncherToolbars.ScreenX,
	LauncherToolbars.ScreenY,
	LauncherToolbars.ScreenWidth,
	LauncherToolbars.ScreenHeight
from
	LauncherToolbars
