:root {
	--resize-border-size: 4px;
	--resize-block-size: 16px;
}

body {
	margin: 0;
	padding: 10px;
	overflow: hidden;
	user-select: none;
}

h1, h2 {
	font-size: 1em;
}

#frame {
	filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
	border: solid 2px WindowFrame;
	background: Window;
	color: WindowText;
	height: 100%;
}

#content {
	overflow: auto;
	position: absolute;
	left: var(--resize-block-size);
	top: var(--resize-block-size);
	right: var(--resize-block-size);
	bottom: var(--resize-block-size);
	overflow: auto;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

	nav ul li {
		padding: 0;
		margin: 0;
	}

.pe_move-area {
	position: fixed;
	height: calc(var(--resize-block-size) - var(--resize-border-size));
	width: auto;
	left: var(--resize-block-size);
	right: var(--resize-block-size);
	top: var(--resize-border-size);
	bottom: initial;

	background-color: ActiveCaption;
}

.pe_resize-area {
	background-color: ButtonFace;
}

.pe_resize-area[data-pe_resize='e'] {
	position: fixed;
	height: auto;
	width: var(--resize-border-size);
	left: initial;
	right: 0;
	top: var(--resize-block-size);
	bottom: var(--resize-block-size);
}

.pe_resize-area[data-pe_resize='w'] {
	position: fixed;
	height: auto;
	width: var(--resize-border-size);
	left: 0;
	right: initial;
	top: var(--resize-block-size);
	bottom: var(--resize-block-size);
}

.pe_resize-area[data-pe_resize='n'] {
	position: fixed;
	height: var(--resize-border-size);
	width: auto;
	left: var(--resize-block-size);
	right: var(--resize-block-size);
	top: 0;
	bottom: initial;
}

.pe_resize-area[data-pe_resize='s'] {
	position: fixed;
	height: var(--resize-border-size);
	width: auto;
	left: var(--resize-block-size);
	right: var(--resize-block-size);
	top: initial;
	bottom: 0;
}

.pe_resize-area[data-pe_resize='ne'] {
	position: fixed;
	height: var(--resize-block-size);
	width: var(--resize-block-size);
	left: initial;
	right: 0;
	top: 0;
	bottom: initial;
}

.pe_resize-area[data-pe_resize='nw'] {
	position: fixed;
	height: var(--resize-block-size);
	width: var(--resize-block-size);
	left: 0;
	right: initial;
	top: 0;
	bottom: initial;
}

.pe_resize-area[data-pe_resize='se'] {
	position: fixed;
	height: var(--resize-block-size);
	width: var(--resize-block-size);
	left: initial;
	right: 0;
	top: initial;
	bottom: 0;
}

.pe_resize-area[data-pe_resize='sw'] {
	position: fixed;
	height: var(--resize-block-size);
	width: var(--resize-block-size);
	left: 0;
	right: initial;
	top: initial;
	bottom: 0;
}

