.pe_move-area {
	cursor: move;
}

.pe_resize-area {
	cursor: nwse-resize;
}

	.pe_resize-area[data-pe_resize='e'] {
		cursor: ew-resize;
	}
	.pe_resize-area[data-pe_resize='w'] {
		cursor: ew-resize;
	}

	.pe_resize-area[data-pe_resize='n'] {
		cursor: ns-resize;
	}
	.pe_resize-area[data-pe_resize='s'] {
		cursor: ns-resize;
	}

	.pe_resize-area[data-pe_resize='ne'] {
		cursor: nesw-resize;
	}
	.pe_resize-area[data-pe_resize='nw'] {
		cursor: nwse-resize;
	}

	.pe_resize-area[data-pe_resize='se'] {
		cursor: nwse-resize;
	}
	.pe_resize-area[data-pe_resize='sw'] {
		cursor: nesw-resize;
	}
