*.changelog
{
	margin-left: 0.5ex;
}

*.changelog dt
{
	padding: 0.3ex 1ex;
	font-weight: bold;
}

*.changelog dt.note
{
	background: #ffc;
}

*.changelog dt.features
{
	background: #cfc;
}

*.changelog dt.fixes
{
	background: #fcc;
}

*.changelog dt.developer
{
	background: #ccf;
}

*.changelog dd
{
	margin-left: 0;
}

*.changelog dd li
{
}

*.changelog *.rev
{
	vertical-align: middle;
	display: inline-block;
	margin-right: 2px;
	border: 1px solid #888;
	padding: 1px;
	font-size: 70%;
	width: 8ex;
	white-space: nowrap;
	overflow: hidden;
	
	font-family: Consolas;
	text-overflow: ellipsis;
	text-decoration: none;
}

p.uri
{
	margin-top: 0;
	font-size: 80%;
}

*.changelog *.compatibility:before
{
	content: "[互換性]";
}
*.changelog *.compatibility
{
	color: #f00;
}
*.changelog *.notice:before
{
	content: "[事前通知]";
	color: #f00;
}
*.changelog *.nuget:before
{
	content: "[NuGet]";
	color: #0a0;
}
*.changelog *.myget:before
{
	content: "[myget]";
	color: #0a0;
}

*.changelog *.comment
{
	font-size: 90%;
}
