body {
	color: #111;
	background: #fff;
	margin: 1.5em;
}

body, input, textarea {
	font-family: Consolas, "Meiryo UI", monospace;
}

h1
{
	border-bottom: 3px double #888;
}

h2
{
	padding: 0.2ex 0.5ex;
	background: #ccc;
}

p {
	margin: 0.8ex;
}

table {
	border: 3px double #707000;
	empty-cells: unset;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	table-layout: fixed;
}

td {
	border: 1px solid #707030;
	padding: 0.8ex;
}

th {
	background: #707030;
	color: azure;
	border: 1px solid azure;
	padding: 0.8em;
}

img {
	vertical-align: middle;
	box-shadow:rgba(0, 0, 0, 0.5) 0px 0px 2px 1px;
}

p.tips, p.warning, p.bug, p.ref {
	padding: 0.5em;
	border-style: dashed;
	border-width: 4px;
}
p.tips {
	border-color: #ff8;
}
p.warning {
	border-color: #f8f;
}
p.bug {
	border-color: #f88;
}
p.ref {
	border-color: #88f;
}

span.value {
	font-family: monospace;
}

em.ui {
	font-style: normal;
}


