body
{
	font-family: "Meiryo UI";
	
	color: #111; 
	background: #fff;
}

h1
{
	border-bottom: 3px double #888;
}

*.changelog dd
{
	margin-left: 0;
}

*.changelog dt.features
{
}

*.changelog dt.fixes
{
}

*.changelog dt.developer
{
}

*.changelog dt.note
{
}

*.changelog dd li
{
}

*.changelog *.rev
{
	vertical-align: middle;
	display: inline-block;
	margin-right: 2px;
	border: 1px solid #888;
	padding: 1px;
	font-size: 70%;
	width: 8ex;
	white-space: nowrap;
	overflow: hidden;
	
	font-family: Consolas;
	text-overflow: ellipsis;
	text-decoration: none;
}

p.uri
{
	margin-top: 0;
	font-size: 80%;
}

*.compatibility:before
{
	content: "[互換性]";
}
*.compatibility
{
	color: #f00;
}
