
ul.questionnaire {
	list-style: none;
}

ul.questionnaire li.item {
	margin-bottom: 1.5em;
}

ul.questionnaire li.item *.input {
	margin-left: 1.5em;
}

ul.questionnaire li.item *.input ul.level {
}

ul.questionnaire li.item *.input ul.level li {
	display: inline-block;
}

ul.questionnaire li.item *.input ul.level li.unset {
	margin-right: 2ex;
}

ul.questionnaire li.item *.input ul.level li.good {
	margin-right: 1ex;
}

ul.questionnaire li.item *.input ul.level li.bad {
	margin-left: 1ex;
}

ul.questionnaire li.item *.input ul.main {
	list-style: none;
}

ul.questionnaire li.item *.title {
	display:inline-block;
	width: 4.5em;
}

textarea {
	width: 80%;
	height: 4em;
}

*.comment {
	font-size: 80%;
	margin-top: 0.2ex;
	margin-bottom: 0.5em;
}

p.warning {
	font-weight: bold;
	border: 1px dotted #f00;
	padding: 1em;
}

div.action {
	text-align: center;
}
