<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="lib" />
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="uri-about" value="http://content-type-text.net/" />
		<add key="mail-about" value="content.type.text.net@gmail.com" />
		<add key="uri-development" value="https://bitbucket.org/sk_0520/pe" />
		<add key="uri-update" value="http://content-type-text.net/document/software/pe-update/update.xml?{TIMESTAMP}" />
		<add key="uri-changelog-release" value="http://content-type-text.net/document/software/pe-update/update-release.html?{TIMESTAMP}" />
		<add key="uri-changelog-rc" value="http://content-type-text.net/document/software/pe-update/update-rc.html?{TIMESTAMP}" />
		<add key="uri-forum" value="https://groups.google.com/d/forum/pe_development" />
		<add key="uri-help" value="https://bitbucket.org/sk_0520/pe/wiki/Home" />
		<add key="uri-feedback" value="https://docs.google.com/forms/d/1XMDs6-kedW1lZwuJxTTteWeTr9FXghwwqbb3KHzveoQ/viewform?usp=send_form" />
		<add key="cache-index-note" value="10" />
		<add key="cache-index-template" value="10" />
		<add key="cache-index-clipboard" value="10" />
	</appSettings>
</configuration>